*/Reseteo general*/ * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    box-sizing: content-box;

}

body {
    background-color: rgb(236, 233, 199);
}

/*Aquí empieza la barra de navegación*/
.container-nav {
    background-color: rgb(124, 96, 120);
    box-shadow: 1px 1px 10px 1px rgb(48, 38, 38);
    position: fixed;
    left: 0%;
    right: 0%;


}

.nav-bar {
    display: flex;
    justify-content: end;
}

a>h4 {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: .5rem;

}





a>h4 {
    color: beige;
    cursor: pointer;
    font-size: 1rem;

    color: rgb(236, 175, 220);

}
a{
    text-decoration: none;
}

/*Aquí empieza la sección de servicios*/
.Servicios {

    padding: .5rem;
    border: 0cap;

}

.title-servicios {
    padding-top: 8rem;
    font-size: 30px;
    font-weight: bold;
    padding-left: 8.5rem;

}

.imagen-servicios {
    width: 300px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px rgb(69, 115, 168);
}

.servicios-img-title {
    display: flex;
    width: 80%;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10rem;
    margin: 0 auto;
}

.parrafo-servicios {
    font-size: 1.4rem;
    line-height: 32px;
    text-align: justify;
    padding-top: 3rem;
}

/* Aquí empieza la sección de habilidades */


.habilidades-title {
    margin-bottom: 3rem;

}

.Mis-habilidades {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    justify-items: center;
    gap: 3rem;
}

.imagenes-habilidades {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.row1>img {
    width: 50px;
    margin: .5rem;
    box-shadow: 1px 1px 10px 1px rgb(69, 115, 168);


}

.row2>img {
    width: 50px;
    margin: .5rem;
    box-shadow: 1px 1px 10px 1px rgb(69, 115, 168);

}

.row3>img {
    width: 50px;
    margin: .5rem;
    box-shadow: 1px 1px 10px 1px rgb(69, 115, 168);

}